.container{
    height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* flex-direction: row-reverse; */
    flex-wrap: wrap-reverse;

}

.card,.card2{
    width: 150px;
    height: 25%;
    background-color: blue;
    color: white;
    font-size: 35px;
    flex-grow: inherit;
        /* order: 2; */
}

/* .card2{
    align-self: flex-end;
} */