/* styles.css */

form {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  input[type='submit'] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  p {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #3498db;
    cursor: pointer;
  }
  
  /* Add styles for the "Forget Password?" link */
  